.services{
    /* background: #000; */
}
.title{
    font-size: 36px;
    font-weight: 700;
    text-align: center;
    font-family: 'TildaSans';
    color: #fe000db0 !important;
    /* margin: 0; */
}
.textTitle{
    text-align: center;
    font-weight: 600;
    font-family: 'TildaSans';
    font-size: 26px;
    color: rgba(0, 0, 0, 0.432);
}
.menu{
    margin: 0 10%;
    width: 80%;
}
.item{
    margin: 2% 5%;    
    background:url('https://static.tildacdn.com/tild3735-3535-4737-a637-383333373533/Blog3.jpg');
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, 0.5); 
    background-blend-mode: multiply; 
    background-size: cover;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    color: #fe000db0;
    height: 60vh;

    }
.item img{
    width: 15%;
    height: 35%;
    margin: 5% 40% 0;
}
.titleText{
    font-size: 20px;
    line-height: 30px;
    color: rgb(255, 255, 255);
    padding: 3% 10% 0;
    font-weight: 800;
    font-family: "Times New Roman', Times, serif";
}
.text{
    font-size: 15px;
    color: rgba(202, 202, 202, 0.76);
    padding: 0 15% 0;
    font-weight: 400;
    font-family: "Times New Roman', Times, serif";
}