.content {
    padding: 0px;
    /* background-image:url('service\src\components\Content\img\logoShef.jpg'); */
    color: aliceblue;
    display: grid;
    grid-template-rows: 20% 20% 10%;
    background: url('\\img\\bgsh.jpg');
    height: 90vh;
    background-size: contain;
    background-repeat: no-repeat;


}

.Logo {
    margin-left: 50%;
    /* height: 110vh; */
    margin-top: -240px;
    position: absolute;
}

.button {
    background-color: #b31400;
    width: 50%;
    height: 50px;
    border-color: linear-gradient(90deg, rgb(19, 18, 18), rgb(61, 60, 60));
    border-radius: 50px;
    margin-left: 20%;
    font-size: 15px;
    font-weight: 400;
    color: aliceblue;


}

.textOfBox {
    color: rgb(52, 52, 52);
    font-weight: 600;
    width: 70%;
    margin-top: 15%;
    margin-left: 15%;
    text-align: left;
    font-size: 15px;
}

.textTitle {
    font-weight: 600;
    margin-bottom: 0px;
    font-size: 36px;
    text-align: left;
    line-height: 0.1px;
    font-family: 'TildaSans', Arial, sans-serif;
    /* padding: 20px; */
    padding-left: 100px;
}

.text {
    font-weight: 300;
    font-size: 15px;
    text-align: left;
    margin: 0px;
    padding-left: 100px;

}

.item {
    display: flex;
    height: 10px;

}

.box1 {
    width: 350px;
    height: 200px;
    background-color: rgb(255, 255, 255);
    border-radius: 40px;
    margin-top: 20px;
    /* position: absolute; */
    margin-left: 100px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);


}

.box2 {
    width: 350px;
    height: 200px;
    background-color: rgb(255, 255, 255);
    border-radius: 40px;
    margin-top: 100px;
    margin-left: 50px;
    /* position: absolute; */
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);

}

.banner {
    /* width: 100vw; */
    margin-top: 100px;
}

.batton {
    width: 250px;
    height: 40px;
    margin-bottom: 700px;

}