.headerItem {
    display: grid;
    grid-template-areas: 'item1 item1 . ';
    grid-template-columns: 40vw 30vw 29vw;
    width: 99vw;
    /* margin-left:15%; */
    color: white;
    
    

}
.header{
    background-blend-mode: multiply; 
    background-size: 100vh;
    position: absolute;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.699);
}

.imgLogo {
    width: 300px;
    /* padding-left: 100px; */
    margin-left: 10vw;

}
button {
    background-color:  #b31400;
    width: 200px;
    height: 50px;
    line-height: 0.1;
    border-width: 0cap;
    border-radius: 60px;
    font-size: 15px;
    font-weight: 600;
    color: aliceblue;
    

}
.imgMessage {
    width: 30px;
    padding-top: 30px;
    padding-left: 20px;
    
}

.item {
    grid-area: 'item1';
    padding-top: 15px;
    text-align: left;
    line-height:85px;
    /* margin-left: 50%; */
}

a {
    text-decoration: none;
    color: aliceblue;
    font-size: 20px;
    font-weight: 500;
    margin-left: 40px;
}
a:hover {
    text-decoration: none;
    color:  #b31400;
    font-size: 22px;
    font-weight: 500;
    margin-left: 50px;
}