.header {
    display: grid;
    grid-template-areas: 'item1 item1 . . .';
   background:linear-gradient(90deg,rgb(35, 35, 35),rgb(32, 32, 32)) ;
    /* width: 100vw; */

    /* grid-template-columns: '50px' '50px'; */
/* position: fixed; */
    color: white;
    

}

.imgLogo {
    width: 300px;
    padding-left: 100px;

}
button {
    background-color:  #b31400;
    width: 200px;
    height: 50px;
    line-height: 0.1;
    border-width: 0cap;
    border-radius: 60px;
    font-size: 15px;
    font-weight: 600;
    color: aliceblue;
    

}
.imgMessage {
    width: 30px;
    padding: 30px;
}

.item {
    grid-area: 'item1';
    padding-top: 15px;
    width: 100%;
    text-align: center;
    line-height:85px;
}

a {
    text-decoration: none;
    color: aliceblue;
    font-size: 20px;
    font-weight: 500;
    margin-left: 50px;
}
a:hover {
    text-decoration: none;
    color:  #b31400;
    font-size: 22px;
    font-weight: 500;
    margin-left: 50px;
}